h1{
    margin: auto;
    height: 60px;
    width: 100%;
    text-align: center;
}
#container{
    width: 80%;
    max-width: 800px;
    min-width: 200px;
    height: auto;
    margin: auto;
    background-color: white;
}
.progressbar-body{
    width: 90%;
    height:30px;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    text-align: center;
}
span.progressbar-value{
    height:100%;
    display: block;
    height: 100%;
    border-radius: 20px 8px 8px 20px;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
            center bottom,
            rgb(43,194,83) 37%,
            rgb(84,240,84) 69%
    );
    box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
.progressbar-body > span.progressbar-value > span {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-radius: 20px 8px 8px 20px;
    overflow: hidden;
    animation: move 2s linear infinite;
}
.progressbar-label{
    position: relative;
    top: -24px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}
.control-panel{
    width: 90%;
    margin: auto;
    text-align: center
}

.highlight{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 1px rgba(255, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 1px rgba(255, 50, 50, 0.75);
}
.progressbar-value.warning{
    background-color: red;
}
.progressbar-body > span.progressbar-value.allRound > span,
span.progressbar-value.allRound{
    border-radius: 20px;
}
.progressbar-body > span.progressbar-value.halfRound > span,
span.progressbar-value.halfRound{
    border-radius: 20px 8px 8px 20px;
}
.button-panel {	
    display: inline-block;
    min-width: 220px;
}
button, select {
  background-color: #7fbf4d;
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 50px; 
  height: 37px;
  margin-bottom: 10px;
}
button:hover {
    background-color: #76b347;
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; 
}
button:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; 
}
select {
	width:160px;
}
button.test-button {
	width:150px;
	margin: 20px;
}